:root {
    --scrollbarBG: #46004900;
    --thumbBG: #8c7e97;
}

html, body {
    position: absolute;
    width: 100%;
    margin: 0px;
    padding:0px;
    overflow-x: hidden;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
    background-color: #1b1226;
    z-index: -2;
}

#scroll {
    position: absolute;
    top: 85vh;
}

#canvas, .vanta-canvas {
    position: fixed!important;
    animation: fadeIn ease 2s;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
}

body::-webkit-scrollbar {
    width: 11px;
}

body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

a {
    display: inline-flex;
    transition: all 0.5s ease-in-out;
    color: #eee;
    outline: none;
    text-decoration: none;
    margin: 0.5em;
    padding: 0.5em;
    border: 2px solid rgba(238, 238, 238, 0.418);
    border-radius: 1em;
}

a:hover {
    border-color: #eee;
    background-color: rgba(238, 238, 238, 0.157);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

#avatar {
    width: 6em;
    height: 6em;
    border-radius: 50%;
}

footer {
    background-color: #00000098;
    position: fixed;
    padding: 1em;
    text-align: center;
    bottom: 0;
    left: 0px;
    right: 0px;
    z-index: 1;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}